* {
    padding: 0;
    margin: 0;
    
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* Shared styles */
#about, #skills, #resume {
    margin: 130px 0;
}
#header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 23px 25px, bottom right;
}

.secondary-color {
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
     color: #474747;
}
.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description {
    font-size: 18px;
    color: #757575;
}









/* Nav styles */


nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 230px;
}

.nav-title {
    font-size: 45px;
    font-weight: bolder;
    color: #181818;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
nav ul li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.text-center {
    text-align: center;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
    align-items: center;
}
.banner-content {
    width: 50%;
}
.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-description {
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
}
.banner-profile-pic {
    width: 584px;
    margin-top: 45px;
}


/* about styles */

#about {
    border-radius: 10px;
    padding: 130px 157px;
    text-align: center;
}
.about-wrapper {
    background-color: #fff;
    border: 1px solid #000000;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-size: 20px;
    color: #757575;
}
.item-description {
    font-size: 20px;
    font-weight: bold;
}

.section-description {
    margin: 30px 0;
}

/* skills styles */

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.skill-title {
    padding: 30px 0 20px 0;
}
.skill-description {
    line-height: 28px;
    font-size: 16px;
    color: #757575;
}
.skill-section {
    width: 909px;
    margin: 30px auto;
    line-height: 30px;
}


/* Resume section styles */

.resume-container {
    display: flex;
    margin-top: 130px;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 24px;
}
.resume-column-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.experience-title {
    font-size: 25px;
    font-weight: bold;
}
.experience-sub-title {
    font-size: 20px;
    font-weight:600;
    color: #757575;
    margin: 10px 0 20px 0;
}

.experience-description {
    line-height: 28px;
    font-size: 16px;
    color: #757575;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px auto;
}

